<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mubarak.agromobile">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgroMobile">
        <activity
            android:name=".NoteDisplay"
            android:exported="false" />
        <activity android:name=".About" />
        <activity android:name=".seperate.New" />
        <activity android:name=".admin.Users" />
        <activity android:name=".admin.AdminPanel" />
        <activity android:name=".admin.FetchNote" />
        <activity android:name=".admin.AdminUpdateNote" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Question" />
        <activity android:name=".Profile" />
        <activity android:name=".SpecificNote" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".admin.AdminAddNote" />
        <activity android:name=".authentication.Login" />
        <activity android:name=".authentication.Registeration" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>